@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.nav {
  background-color: #ff385d;
  color: white;
  display: flex;
  flex-direction: column;
}

.nav-title h1 {
  font-family: 'Pangolin', cursive;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0;
}

.nav-links {
  padding: 0 0 1rem 0;
}

.nav-links ul {
  display: flex;
  justify-content: space-evenly;
}

.nav-links li {
  list-style: none;
  font-family: 'Lato', sans-serif;
}

.nav-links li a {
  text-decoration: none
}

.nav-links a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 480px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .nav-links li {
    padding: 0 1rem;
  }

}

.section {
  margin-bottom: 2rem;
}

.section-verbiage {
  text-align: center;
  padding: 1rem 0;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}

.section-reservation {
  border: 2px solid #ff385d;
}

form {
  width: 100%;
  
}
/* Fix the mobile aspect ratio for 480px

/* 1. Location */
.location-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.location {
  width: 50%;
  border: 1px solid black;
}

/* 2. Arrive */
.arrive-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.arrive {
  width: 50%!important;
  border: 1px solid black;
}

/* 3. Depart */
.depart-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.depart {
  width: 50%!important;
  border: 1px solid black;
}

/* 4. Type */
.type-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.type {
  width: 50%;
  border: 1px solid black;
}

/* 5. Button */

.button-container {
  padding: 1rem;
  display: block;
}

.button {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #ff385d;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 480px) {

  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .location-container {
    display: flex;
    flex-direction: column;
  }

  .location {
    width: 100%;
  }

  .arrive-container {
    display: flex;
    flex-direction: column;
  }

  .arrive {
    width: 100%;
  }

  .depart-container {
    display: flex;
    flex-direction: column;
  }

  .depart {
    width: 100%;
  }

  .type-container {
    display: flex;
    flex-direction: column;
  }

  .type {
    width: 100%;
  }

  .button {
    cursor: pointer;
    position: relative;
  }
}




.about {
  background-color: #00a699;
  color: white;
  padding: 2rem;
  width: 100%;
}

.about-title {
  text-align: center;
  padding: 0 0 1rem 0;
  font-size: 2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pool {
  max-width: 100%;
  padding-bottom: 1rem;
}

.basement {
  max-width: 100%;
  padding-bottom: 1rem;
}

.about-verbiage {
  font-size: 1.15rem;
}

@media screen and (min-width: 480px) {
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .about-pool {
    display: flex;
    width: 25%;
  }

  .pool {
    width: 100%;
  }

  .about-basement {
    display: flex;
    width: 25%;
  }

  .basement {
    width: 100%;
  }

  .about-verbiage {
    display: flex;
    width: 25%;
  }

}

.ideas-title {
  text-align: center;
  margin: 0.25rem 0;
  font-size: 3rem;
  padding-top: 2rem;
}

.ideas-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.forest-container {
  width: 100%;
}

.forest-container h1 {
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
}

.forest {
  max-width: 100%;
}

.beaches-container {
  width: 100%;
}

.beaches-container h1 {
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
}

.beaches {
  max-width: 100%;
}

.rusticCabins-container {
  width: 100%;
}

.rusticCabins-container h1 {
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
}

.rusticCabins {
  max-width: 100%;
}

.petFriendly-container {
  width: 100%;
}

.petFriendly-container h1 {
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
}

.petFriendly {
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .ideas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .forest-container {
    padding: 1rem;
  }

  .beaches-container {
    padding: 1rem;
  }

  .rusticCabins-container {
    padding: 1rem;
  }

  .petFriendly-container {
    padding: 1rem;
  }
}

.subscribe {
  background-color: #00a699;
  color: white;
}

.subscribe-title {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}

.subscribe-container {
  display: flex;
}

.subscribe-verbiage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 50%;
}

.subscribe-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.subscribe-image {
  width: 50%;
}

.subscribe-verbiage p {
  padding: 2rem 1rem 1rem 1rem;
}

.subscribe-verbiage .unordered li {
  list-style-type: circle;
}

.subscribe-image {
  width: 100%;
}

.checkIn {
  max-width: 100%;
  padding: 2rem;
}

@media screen and (max-width: 480px) {
  .subscribe-container {
    flex-direction: column;
  }

  .subscribe-verbiage {
    width: 100%;
  }
}

footer {
  background-color:#ff385d;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}